# Task 2 Chapter 17.2 SQL

17.2.1 Connection to DB

In [ ]:
import sqlite3
connection = sqlite3.connect('books.db')
connection

Viewing the authors, title and author_ISBN Table's Contents

In [ ]:
import pandas as pd
pd.options.display.max_columns = 10

pd.read_sql('SELECT * FROM authors', connection,
            index_col=['id'])

pd.read_sql('SELECT * FROM titles', connection)

df = pd.read_sql('SELECT * FROM author_ISBN', connection)

df.head

17.2.2 SELECT Queries

In [ ]:
df = pd.read_sql('SELECT first, last FROM authors', connection)

17.2.3 WHERE Clause

In [ ]:
pd.read_sql("""SELECT title, edition, copyright
            FROM titles
            WHERE copyright > '2016'""", connection)

In [ ]:
pd.read_sql("""SELECT id, first, last
FROM authors
WHERE last LIKE 'D%'""",
            connection, index_col=['id'])

In [ ]:
pd.read_sql("""SELECT id, first, last
FROM authors 
WHERE first LIKE '_b%'""", connection, index_col=['id'])

17.2.4 ORDER BY Clause

In [ ]:
pd.read_sql('SELECT title FROM titles ORDER BY title ASC', connection)

In [ ]:
#Sorting By Multiple Columns
pd.read_sql("""SELECT id, first, last
            FROM authors
            ORDER BY last, first""",
            connection, index_col=['id'])

In [ ]:
#last name  column desc, first naem column asc
pd.read_sql("""SELECT id, first, last
            FROM authors
            ORDER BY last DESC, first ASC""",
            connection, index_col=['id'])

In [ ]:
#Combining the WHERE and ORDER BY Clauses
pd.read_sql("""SELECT isbn, title, edition, copyright
            FROM titles
            WHERE title LIKE '%How to Program'
            ORDER BY title""", connection)

#17.2.5 Merging Data from Multiple Tables: INNER JOIN

In [ ]:
pd.read_sql("""SELECT first, last, isbn
            FROM authors
            INNER JOIN author_ISBN
            ON authors.id = author_ISBN.id
            ORDER BY last, first""", connection).head()

17.2.6 INSERT INTO Statement

In [ ]:
cursor = connection.cursor()

In [ ]:
cursor = cursor.execute("""INSERT INTO authors (first, last)
                        VALUES ('Sue', 'Red')""")

In [ ]:
pd.read_sql('SELECT id, first, last FROM authors', 
            connection, index_col=['id'])

17.2.7 Update Statement

In [ ]:
cursor.execute("""UPDATE authors SET last='Black'
            WHERE last='Red' AND first='Sue'""")

In [ ]:
pd.read_sql('SELECT id, first, last FROM authors',
            connection, index_col=['id'])

17.2.8 DELETE FROM Statement

In [ ]:
cursor = cursor.execute('DELETE FROM authors WHERE id=6')
cursor.rowcount

In [ ]:
pd.read_sql('SELECT id, first, last FROM authors',
            connection, index_col=['id'])