# Task 3 - Titanic.ipynb

Jakiel David 
2/11/2023

9.12.3 Reading the Titanic Disaster Dataset

In [6]:
import pandas as pd

1-Load:Use pandas to read in the Titanic Disater CSV Dataset

In [7]:
titanic = pd.read_csv('https://vincentarelbundock.github.io/' + 'Rdatasets/csv/carData/TitanicSurvival.csv')

2- View: Dislpay precison 2 decimal places and view head and tail

In [8]:
pd.set_option('display.precision', 2) #'precision' outputs error
titanic.head()
titanic.tail()

                     Unnamed: 0 survived     sex   age passengerClass
1304       Zabour, Miss. Hileni       no  female  14.5            3rd
1305      Zabour, Miss. Thamine       no  female   NaN            3rd
1306  Zakarian, Mr. Mapriededer       no    male  26.5            3rd
1307        Zakarian, Mr. Ortin       no    male  27.0            3rd
1308         Zimmerman, Mr. Leo       no    male  29.0            3rd

3-Headings: Customizing column headings

In [9]:
titanic.columns =['names', 'survived', 'sex', 'age', 'class']
titanic.head

<bound method NDFrame.head of                                 names survived     sex    age class
0       Allen, Miss. Elisabeth Walton      yes  female  29.00   1st
1      Allison, Master. Hudson Trevor      yes    male   0.92   1st
2        Allison, Miss. Helen Loraine       no  female   2.00   1st
3     Allison, Mr. Hudson Joshua Crei       no    male  30.00   1st
4     Allison, Mrs. Hudson J C (Bessi       no  female  25.00   1st
...                               ...      ...     ...    ...   ...
1304             Zabour, Miss. Hileni       no  female  14.50   3rd
1305            Zabour, Miss. Thamine       no  female    NaN   3rd
1306        Zakarian, Mr. Mapriededer       no    male  26.50   3rd
1307              Zakarian, Mr. Ortin       no    male  27.00   3rd
1308               Zimmerman, Mr. Leo       no    male  29.00   3rd

[1309 rows x 5 columns]>

9.12.4 Simple Data Analysis w/ Titanic Disaster Dataset

4-Describe: Use DataFrame describe() function to calculate desceptive stats for all numeric columns

In [10]:
titanic.describe()

Using matplotlib backend: MacOSX

5-Survivors: descriptive stats on survivors

In [11]:
(titanic.survived == 'yes').describe()

count      1309
unique        2
top       False
freq        809
Name: survived, dtype: object

9.12.5 Passenger Age Histogram

6-Histogram:Use Dataframe hist() function to create histogram for numerical columns *use pip install matplotlib if not install already*

In [13]:
%matplotlib
histogram = titanic.hist()
histogram

Using matplotlib backend: MacOSX

array([[<AxesSubplot: title={'center': 'age'}>]], dtype=object)